<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-freshworks-freshchat" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-freshworks-freshchat</name>
    <js-module name="cordova-plugin-freshworks-freshchat" src="www/cordova-plugin-freshworks-freshchat.js">
        <clobbers target="cordova.plugins.cordova-plugin-freshworks-freshchat" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="cordova-plugin-freshworks-freshchat">
                <param name="android-package" value="info.cordova.plugin.freshworks.freshchat.cordova-plugin-freshworks-freshchat" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/cordova-plugin-freshworks-freshchat.java" target-dir="src/info/cordova/plugin/freshworks/freshchat/cordova-plugin-freshworks-freshchat" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="cordova-plugin-freshworks-freshchat">
                <param name="ios-package" value="cordova-plugin-freshworks-freshchat" />
            </feature>
        </config-file>
        <source-file src="src/ios/cordova-plugin-freshworks-freshchat.m" />
    </platform>
</plugin>